.comment {
    color: var(--color-white-text);
    text-shadow: 0 0 5px var(--color-red-text),
                 0 0 20px var(--color-white-text);
    text-align: center;
}

.comment__gif {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}