@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
:root {
    --font-size-small: 18px;
    --font-family-marvel: 'Marvel', sans-serif;
    --transition: .4s;
    --color-white: white;
    --color-black: black;
    --color-gray: gray;
}

*, *:after, *:before {
    box-sizing: border-box;
}

img {
    display: block;
}